<!--Created by william from lexueoude.com. 更多正版技术视频讲解，公众号：乐学FinTech-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>乐学偶得-标签页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/lxod.css">
</head>
<body>

<!--头部导航栏-->
<nav class="ui inverted attached segment m-padding-tb-small m-shadow-middle">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui yellow header item">乐学偶得</h1>
            <a href="#" class="m-special-tag item m-small-screen-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-special-tag item m-small-screen-hide"><i class="book icon"></i>文章分类</a>
            <a href="#" class="m-special-tag item m-small-screen-hide"><i class="tasks icon"></i>文章标签</a>
            <a href="#" class="m-special-tag item m-small-screen-hide"><i class="copy icon"></i>历史文章归档</a>
            <a href="#" class="active m-special-tag item m-small-screen-hide"><i class="registered icon"></i>关于乐学偶得</a>
            <div class="right item">
                <!--可以删去tranparent等自定义搜索栏-->
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="乐学偶得:输入内容搜索...">
                    <i class="search link icon"></i>
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="ui menu-toggle black icon button m-icon-position m-small-screen-show">
        <i class="bars icon"></i>
    </a>
</nav>


<!--网站内容部分-->

<div class="m-padding-tb-middle">
    <div class="ui container">
        <div class="ui grid">
            <div class="ten wide column">
                <img src="../static/images/lxod_article_img.png" alt="" class="ui rounded image">
<!--                <img src="./static/images/lxod_logo.jpeg" alt="" class="ui rounded image">-->
            </div>
            <div class="six wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于乐学偶得</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-all-normal-text">乐学偶得，乐学知识，偶得美好。探讨编程与各行业的结合点～希望各位小伙伴加入哦～</p>
                    <p class="m-all-normal-text">乐学偶得，乐学知识，偶得美好。探讨编程与各行业的结合点～希望各位小伙伴加入哦～</p>
                </div>
                <div class="ui attached segment ">
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">Java</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">C/C++</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">AI</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">Fintech</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">Java</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">C/C++</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">AI</div>
                    <div class="ui yellow basic left pointing label m-margin-bottom-tiny">Fintech</div>
                </div>
                <div class="ui attached segment">
                    <a href="#" class="ui circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="你的qq号10086" data-position="bottom center"><i class="qq icon"></i></a>
                    <a href="https://www.github.com/williamjiamin" class="ui circular icon button"><i class="github icon"></i></a>
                </div>
                <div class="ui Wechat_QR_Code flowing popup transition hidden">
                    <img src="../static/images/lxodxgj_wechat.jpeg" alt="" class="ui rounded image" style="width: 150px">
                </div>
            </div>
        </div>

    </div>


</div>


<!--底部（ICP备案、联系方式等）-->
<!--可以用attached或者vertical-->
<footer class="ui inverted vertical segment m-padding-tb-big">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" style="width: 90px" alt="图片">
                    </div>
                    <div class="item">乐学Fintech</div>
                    <div class="item">
                        <img src="../static/images/lxodxgj_wechat.jpeg" class="ui rounded image" style="width: 90px"
                             alt="图片">
                    </div>
                    <div class="item">客服小管家</div>
                </div>

            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">
                    网站导航</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">首页</a>
                    <a href="#" class="item">文章分类</a>
                    <a href="#" class="item">文章标签</a>
                    <a href="#" class="item">关于我们</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">
                    联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">联系方式</a>
                    <a href="#" class="item">办公地址</a>
                    <a href="#" class="item">加入我们</a>
                    <a href="#" class="item">地图导航</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">
                    网站介绍</h4>
                <div class="ui inverted link list">
                    <p class="m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">
                        这个是乐学偶得的教程演示网站，可以达到发表文章，文章留言回复，二维码打赏、支付等功能</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">
            乐学偶得版权所有，乐学偶得官网lexueoude.com，公众号：乐学Fintech</p>
        <p class="m-content-text-thin m-content-text-lined m-content-text-opacity m-content-text-spaced">ICP备案号：【】</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu-toggle').click(function () {
        $('.m-special-tag').toggleClass('m-small-screen-hide');
    });
    $('.qq').popup({
    });
    $('.weixin').popup({
        popup: $('.Wechat_QR_Code.popup'),
        position: 'bottom center'
    });
</script>


</body>
</html>